.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
    padding: 10px;
}

.dialogItem .active {
    color: #3bffe8;
}


.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}

.button {
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: grid;
    width: 100px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #222222;
    background-color: #3bffe8;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #a2a2a2;
}

.button:hover {
    background-color: #ffc609;
    color: #2d2b2b;
}

.button:active {
    background-color: #00fd7f;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}